<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include _sidebar-nav %>
    <div class="main">
      <h1><%= title %></h1>
      <p><strong>Author:</strong> <%= book.author %></p>
      <p><strong>Summary:</strong> <%= book.summary %></p>
      <p><strong>ISBN:</strong> <%= book.isbn %></p>
      <p>
        <strong>Genre: </strong> <% book.genre.forEach(val => {%> <%= val.name
        %> <%})%>
      </p>
      <p><strong>Price:</strong> <%= book.price %></p>
      <p><strong>Number in stock:</strong> <%= book.numInStock %></p>
      <hr class="hr-book" />
      <p><a href="<%= book.url %>/update">Update Book</a></p>
      <p><a href="<%= book.url %>/delete">Delete Book</a></p>
    </div>
  </body>
</html>
