<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>: <%= genre.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include _sidebar-nav %>
    <div class="main">
      <h1><%= title %>: <%= genre.name %></h1>
      <% if (genre_books.length) {%>
      <p>
        <strong
          >Delete the following books before attempting to delete this
          genre.</strong
        >
      </p>
      <h4>Books</h4>
      <dl>
        <%genre_books.forEach(book => {%>
        <dt><a href="<%= book.url %>"><%= book.title %></a></dt>
        <dd class="genre-books"><%= book.summary %></dd>
        <%})%>
      </dl>
      <%} else {%>
      <p>Do you really want to delete this genre?</p>
      <form method="post" action="">
        <input type="hidden" name="id" required value="<%= genre._id %>" />
        <button type="submit">Delete</button>
      </form>
      <% } %>
    </div>
  </body>
</html>
