<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include _sidebar-nav %>
    <div class="main">
      <h1><%= genre.name %></h1>
      <p><%= genre.description %></p>
      <% if (genre_books.length) {%>
      <h4>Books</h4>
      <dl>
        <% genre_books.forEach(book => {%>
        <dt>
          <a href="<%= book.url %>"><%= book.title %></a>
        </dt>
        <dd class="genre-books"><%= book.summary %></dd>
        <%})%>
      </dl>
      <%} else {%>
      <h4>There are no books in this genre.</h4>
      <%}%>
      <hr class="hr-book" />
      <p><a href="<%= genre.url %>/update">Update Genre</a></p>
      <p><a href="<%= genre.url %>/delete">Delete Genre</a></p>
    </div>
  </body>
</html>
